name: test-and-publish

on: [push]

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: zhulik/redis-action@1.1.0
      with:
        redis version: '5'
        number of databases: 1
    - name: Install dependencies
      run: |
        sudo apt-get install -y mongodb
        git config --global user.name "${{ secrets.NAME }}"
        git config --global user.email "${{ secrets.EMAIL }}"
        npm version patch
        npm install
        npm install faker puppeteer@2.1.1 @userdashboard/dashboard @userdashboard/storage-mongodb --no-save
        npm install -g mocha standard
        mkdir -p node_modules/@userdashboard/storage-cache-redis
        cp *.js node_modules/@userdashboard/storage-cache-redis
        cp -R src/ node_modules/@userdashboard/storage-cache-redis/src/
    - name: Lint (standard.js)
      run: standard src
    - name: Test
      run: |
        mocha --file test-helper.js --bail --exit --full-trace --recursive --timeout 90000000 "./node_modules/@userdashboard/**/{,!(public)}/*.test.js" | tee tests.txt
        TESTS=`cat tests.txt`
        if [[ "$TESTS" == *" 1)"* ]]; then
          exit 1
        fi
      env:
        NODE_ENV: testing
        FAST_START: true
        DASHBOARD_SERVER: "http://localhost:9000"
        DOMAIN: "localhost"
        CACHE: "@userdashboard/storage-cache-redis"
        CACHE_REDIS_URL: "redis://localhost:6379/15"
        STORAGE: "@userdashboard/storage-mongodb"
        MONGODB_URL: "mongodb://localhost:27017"
        GENERATE_SITEMAP_TXT: false
        GENERATE_API_TXT: false
    - name: Publish to Github
      uses: stefanzweifel/git-auto-commit-action@v4.1.6
      with:
        commit_message: Automatically regenerated against current version
        branch: ${{ github.head_ref }}
        commit_options: '--no-verify --signoff'
        repository: .
    - name: Publish to NPM
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }} 